apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: zookeeper
  namespace: {{ .Values.kafkaNamespace }}
  labels:
    app: zookeeper
    {{- include "todo-app.labels" . | nindent 4 }}
spec:
  serviceName: zookeeper-headless
  replicas: {{ .Values.zookeeper.replicaCount }}
  selector:
    matchLabels:
      app: zookeeper
  template:
    metadata:
      labels:
        app: zookeeper
    spec:
      containers:
        - name: zookeeper
          image: "{{ .Values.zookeeper.image.repository }}:{{ .Values.zookeeper.image.tag }}"
          ports:
            - containerPort: {{ .Values.zookeeper.port }}
              name: client
          env:
            - name: ZOOKEEPER_CLIENT_PORT
              value: {{ .Values.zookeeper.port | quote }}
            - name: ZOOKEEPER_TICK_TIME
              value: "2000"
          readinessProbe:
            tcpSocket:
              port: {{ .Values.zookeeper.port }}
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: {{ .Values.zookeeper.port }}
            initialDelaySeconds: 15
            periodSeconds: 20
          volumeMounts:
            - name: zookeeper-data
              mountPath: /var/lib/zookeeper/data
  volumeClaimTemplates:
    - metadata:
        name: zookeeper-data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: {{ .Values.zookeeper.storage }}
---
apiVersion: v1
kind: Service
metadata:
  name: zookeeper-headless
  namespace: {{ .Values.kafkaNamespace }}
  labels:
    app: zookeeper
spec:
  clusterIP: None
  ports:
    - port: {{ .Values.zookeeper.port }}
      name: client
  selector:
    app: zookeeper
---
apiVersion: v1
kind: Service
metadata:
  name: zookeeper
  namespace: {{ .Values.kafkaNamespace }}
  labels:
    app: zookeeper
spec:
  ports:
    - port: {{ .Values.zookeeper.port }}
      name: client
  selector:
    app: zookeeper
